.container {
  position: relative;
  width: 100%;
  height: 3rem;
  background-color: var(--select-bg-color);
  border-radius: 0.2rem;
  box-shadow: var(--default-box-shadow);
  min-width: 200px;
}

.trigger {
  width: inherit;
  height: inherit;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.optionsMenu {
  display: none;
  position: absolute;
  top: 3.5rem;
  width: 100%;
  background-color: var(--select-menu-bg-color);
  box-shadow: var(--default-box-shadow);
  border-radius: 0.2rem;
  padding: 1rem 0;
}

.optionsMenu button {
  width: 100%;
  padding: 0.5rem 2rem;
  border: none;
  text-align: start;
  cursor: pointer;
}

.optionsMenu button:hover {
  background-color: var(--light-gray);
}

.optionsMenu div {
  padding: 1rem 2rem;
}

.visible {
  display: block;
}
