@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /*(Dark Mode Elements)*/
  --dark-blue-209: hsl(209, 23%, 22%);
  /*(Dark Mode Background)*/
  --dark-blue-207: hsl(207, 26%, 17%);
  /*(Light Mode Text)*/
  --dark-blue-200: hsl(200, 15%, 8%);
  /*(Light Mode Input)    */
  --dark-gray: hsl(0, 0%, 52%);
  /*(Light Mode Background)*/
  --light-gray: hsl(0, 0%, 98%);
  /*(Dark Mode Text & Light Mode Elements)*/
  --white: hsl(0, 0%, 100%);

  --bg-color: var(--light-gray);
  --text-color: var(--dark-blue-200);
  --input-text-color: var(--dark-gray);
}

html {
  font-size: 14px;
}

body {
  font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  font-size: 14px;
  margin: 0 1rem;
}

header,
header button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-size: 1.25em;
}

header button {
  background-color: transparent;
  border: none;
  padding: 2rem 0;
}

main {
  margin: 116px 1rem;
}

@media only screen and (min-width: 880px) {
  header {
    margin: 0 168px;
  }
  main {
    margin: 116px 168px;
  }
}
